* {
  background-color: rgb(24, 23, 23);
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.navbar-container {
  box-shadow: 2px 2px 2px white;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.navbar-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-button {
  border: none;
  font-size: 1em;
}

.navbar-button:hover {
  cursor: pointer;
}

.portfolio-container {
  margin-top: 100px;
}
