* {
  background-color: rgb(24, 23, 23);
  color: white;
  text-decoration: none;
  list-style-type: none;
}

.navbar-container {
  box-shadow: 2px 2px 2px white;
}

.navbar-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
